<div class="bg" ng-controller="tratamientoController as vm">
    <div class="container contenido-nuevo tabla">
        <div class="usuario-bienvenida">
            <div class="mensaje-estandar">
                <h3>Tratamiento de datos</h3>
                <p>ILC, le informa que para ejercer los derechos de acceso, rectificación, cancelación, revocación y oposición para el TRATAMIENTO DE SUS DATOS PERSONALES de nuestro producto ONLINE, puede ejercerlo mediante la presente solicitud.</p>
            </div>
        </div>
        <form name="frmTratamiento" class="form-horizontal form-standar" role="form" novalidate ng-submit="vm.regitraTratamiento(frmTratamiento.$valid)">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{'has-error has-feedback' : frmTratamiento.txtDocumento.$invalid && frmTratamiento.$submitted}">
                        <label class="col-sm-4 control-label">Nro. de documento:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="txtDocumento" required ng-model="vm.Tratamiento.cDocumento" disabled="disabled">
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="frmTratamiento.txtDocumento.$invalid && frmTratamiento.$submitted"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{'has-error has-feedback' : frmTratamiento.txtNombres.$invalid && frmTratamiento.$submitted}">
                        <label class="col-sm-4 control-label">Nombres:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="txtNombres" required ng-model="vm.Tratamiento.cNombres" disabled="disabled">
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="frmTratamiento.txtNombres.$invalid && frmTratamiento.$submitted"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{'has-error has-feedback' : frmTratamiento.txtApePat.$invalid && frmTratamiento.$submitted}">
                        <label class="col-sm-4 control-label">Primer apellido:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required name="txtApePat" ng-model="vm.Tratamiento.cApePat" disabled="disabled">
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="frmTratamiento.txtApePat.$invalid && frmTratamiento.$submitted"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{'has-error has-feedback' : frmTratamiento.txtApeMat.$invalid && frmTratamiento.$submitted}">
                        <label class="col-sm-4 control-label">Segundo apellido:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required name="txtApeMat" ng-model="vm.Tratamiento.cApeMat" disabled="disabled">
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="frmTratamiento.txtApeMat.$invalid && frmTratamiento.$submitted"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{'has-error has-feedback' : frmTratamiento.cmbTipoSolicitud.$invalid && frmTratamiento.$submitted}">
                        <label class="col-sm-4 control-label">Tipo solicitud:</label>
                        <div class="col-sm-8">
                            <select class="form-control" required name="cmbTipoSolicitud" ng-model="vm.Tratamiento.nTipoSolicitud">
                                <option value="" selected>--Seleccione--</option>
                                <option value="1">INFORMACION</option>
                                <option value="2">ACCESO</option>
                                <option value="3">CANCELACIÓN</option>
                                <option value="4">ACTUALIZACION</option>
                                <option value="5">OTROS</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{'has-error has-feedback' : frmTratamiento.cmbRespuesta.$invalid && frmTratamiento.$submitted}">
                        <label class="col-sm-4 control-label">Recibir respuesta por:</label>
                        <div class="col-sm-8">
                            <select class="form-control" required name="cmbRespuesta" ng-model="vm.Tratamiento.nTipoResp">
                                <option value="" selected>--Seleccione--</option>
                                <option value="2">E-MAIL</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group" ng-class="{'has-error has-feedback' : frmTratamiento.txtPedido.$invalid && frmTratamiento.$submitted}">
                        <label class="col-sm-2 control-label">Pedido:</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" required name="txtPedido" ng-model="vm.Tratamiento.cPedido"></textarea>
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="frmTratamiento.txtPedido.$invalid && frmTratamiento.$submitted"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group" ng-class="{'has-error has-feedback' : frmTratamiento.txtComentario.$invalid && frmTratamiento.$submitted}">
                        <label class="col-sm-2 control-label">Comentario:</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" required name="txtComentario" ng-model="vm.Tratamiento.cComentario"></textarea>
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="frmTratamiento.txtComentario.$invalid && frmTratamiento.$submitted"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="confirmacion">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block btn-anterior">
                                <span class="glyphicon glyphicon-ok"></span> Guardar
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-danger btn-block" ui-sref="dashboard" ui-sref-active="active">
                                <span class="glyphicon glyphicon-remove"></span> Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });

    $(document).on('click', '.navbar-collapse.in', function (e) { if ($(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle') { $(this).collapse('hide'); } });
</script>